*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1{
    text-align: center;
    padding-bottom: 20px;
}
form{
box-shadow: 10px 20px 15px;
width: 500px;
border: 1px solid lightgray;
border-radius: 5px;
margin: 0 auto;
padding: 20px;

}
input{
width: 100%;
border-radius: 5px;
margin-bottom: 10px;
padding: 10px;
border: 1px solid lightgray;
}
fieldset{
width: 100%;
border-radius: 5px;
margin-bottom: 10px;
padding: 10px;
border: 1px solid lightgray;
}
#b{
    color: white;
    background-color: blue;
}
label{
    display: block;
}